body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    background:#000;
}
#cesiumcontainer{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    overflow:hidden;
    padding:0;
    margin:0;
}

#threecontainer{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    overflow:hidden;
    padding:0;
    margin:0;
    pointer-events:none;
}